@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
html, body {
    font-family: 'Open Sans', sans-serif;
    -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    height: 100%;
    background-color: #d9d2c6;
}

@media (max-width: 640) {
    .quote-container {
        height: 190px !important;
    }
}

@media (max-width: 320) {
    .quote-container {
        height: 230px !important;
    }
}
