html {
  overflow: hidden;
}
* {
  font-family: 'Open Sans', sans-serif;
}
.profile-pictures {
  background-image:url('https://scontent-lax3-1.cdninstagram.com/hphotos-xpa1/t51.2885-15/e35/10549833_1727260620841051_270037565_n.jpg');
  background-size: cover;
  background-position:70% 20%;
  border-radius: 5px;
}
.nav {
  text-align: center;
}
.nav > * {
  color: rgba(85, 85, 85, 0.86);
}
.nav > * > * {
  color: rgba(85, 85, 85, 0.86);
}
.nav > * > * > * {
  color: rgba(85, 85, 85, 0.86);
}
.nav-list {
  text-align: center;
}
.post {
  margin:  0.25rem;
  border:1px solid #edede;
}
.post, .post-img > img {
  display: inline-block;
  width:100%;
  background:  #efefef;
  height:250px;
}
.post > * {
  font-weight: 100;
}
.font-link {
  font-size: 10px;
}
.container {
  display: flex;
  justify-content: center;
  height: 100% !important;
}
.header {
  padding-bottom:10px;
}
.inner-container {
  width:100%;
  align-self: center;
}
.nav-posts-parent {
  text-align:center;
  margin-bottom:10px;
}
@media only screen and (min-width: 480px) and (min-height: 320px) {
  .profile-pictures {
    height: 100px !important;
    background-position: 80% 30% !important;
  }
}
@media only screen and (min-width: 568px) and (min-height: 320px) {
  .profile-pictures {
    height: 100px !important;
    background-position: 80% 30%;
  }
  .font-link {
    font-size:10px;
  }
  .nav-list {
    width:100%;
    text-align: center !important;
  }
}
@media only screen and (min-width: 320px) {
  .profile-pictures {
    height: 200px;
  }
  .header {
    padding-bottom:20px;
  }
  .nav-list {
    width:100%;
    text-align: left !important;
  }
  .nav-posts {
    position: absolute;
    bottom: 0px;
    font-size: 15px !important;
  }
  .font-link {
    font-size:10px;
  }
}
@media only screen and (min-width: 992px) {
  .profile-pictures {
    height: 650px !important;
  }
  .font-link {
    font-size:14px;
  }
  .nav-list {
    margin-bottom:0px !important;
  }
  .nav {
    margin: 0px; 
    padding: 0px; 
    bottom: 0px !important; 
    position: absolute; 
    width:100%;
  }
  .container-group {
    height:650px;
  }
  svg {
    top: 0;
    z-index: 100000;
  }
  .gridCircle {
    fill: rgba(205, 205, 205, 0) !important;
    stroke: rgba(205, 205, 205, 0.31) !important;
    fill-opacity: 0.1; 
    filter: url("#glow");
  }
}
@media only screen and (min-width: 1336px) {
  .profile-pictures {
    height: 575px !important;
  }
  .container-group {
    height: 575px;
  }
}