@import url('chemical.css');

.chemical-header-nav-right > a {
	text-decoration: none;
}

.chemical-header * {
	font-weight: 300 !important;
}

.font-link {
	color: black !important;
	text-decoration: none; 
}