@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

html, body, #root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.tooltip:after, [data-tooltip]:after {
  border-radius: 5px;
}

#container {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#container-content {
  flex: 1;
}
