html
	head
		title Gabriel J. Csapo
		style
			include css/site.css
		style
			include lib/bootstrap/css/bootstrap.min.css
		style
			include lib/font-awesome/css/font-awesome.css
		script
			include lib/d3.js
body
	div.container
		div.row
			div.col-md-4.container-group(style="background-image:url('https://scontent-lax3-1.cdninstagram.com/hphotos-xpa1/t51.2885-15/e35/10549833_1727260620841051_270037565_n.jpg');height: 650px;background-size: cover;background-position:70% 20%;border-radius: 5px;")
			div.col-md-8.col-xs-12.container-group
				div.header
					h1(style="font-weight:100 !important;") Gabriel J. Csapo
					h4(style="font-weight:100 !important;") Web Developer
					span(style="font-style:italic;") Solving the issues that truly matter, finding them is the hardest part.
				br
				br
				div.graph
				div.nav
					div.col-md-4.col-xs-4.nav-list
						a(href="https://www.paypal.com").font-link
							i.fa.fa-2x.fa-briefcase &nbsp;&nbsp; PayPal
					div.col-md-4.col-xs-4.nav-list
						a(href="https://www.google.com/maps/place/San+Jose,+CA/@37.296787,-122.3778534,9z/data=!3m1!4b1!4m2!3m1!1s0x808fcae48af93ff5:0xb99d8c0aca9f717b").font-link
							i.fa.fa-2x.fa-location-arrow &nbsp;&nbsp; San Jose
					div.col-md-4.col-xs-4.nav-list
						a(href="https://github.com/gabrielcsapo").font-link
							i.fa.fa-2x.fa-github-square
						| &nbsp;&nbsp;
						a(href="https://www.linkedin.com/in/gabrielcsapo").font-link
							i.fa.fa-2x.fa-linkedin-square

	script
			include js/go.js
	script
			include js/application.js