html
	head
		meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
		title Gabriel J. Csapo
		style
			include css/site.css
		style
			include lib/bootstrap/css/bootstrap.min.css
		style
			include lib/font-awesome/css/font-awesome.css
		script
			include lib/jquery.js
		script
			include lib/d3.js
body
	div.container
		div.inner-container
			div.col-md-4.container-group.profile-pictures
			div.col-md-8.col-xs-12.container-group
				div.header
					h1(style="font-weight:100 !important;") Gabriel J. Csapo
					h4(style="font-weight:100 !important;") Web Developer
					span(style="font-style:italic;") On a quest to find the problems that have true impact.
				br
				br
				div.graph.hidden-sm.hidden-xs
				div.nav
					div.col-md-4.col-xs-4.nav-list
						a(href="https://www.paypal.com").font-link
							i.fa.fa-2x.fa-briefcase &nbsp;&nbsp; PayPal
					div.col-md-4.col-xs-4.nav-list
						a(href="https://www.google.com/maps/place/San+Jose,+CA/@37.296787,-122.3778534,9z/data=!3m1!4b1!4m2!3m1!1s0x808fcae48af93ff5:0xb99d8c0aca9f717b").font-link
							i.fa.fa-2x.fa-location-arrow &nbsp;&nbsp; San Jose
					div.col-md-4.col-xs-4.nav-list
						a(href="https://github.com/gabrielcsapo").font-link
							i.fa.fa-2x.fa-github-square
						| &nbsp;&nbsp;
						a(href="https://www.linkedin.com/in/gabrielcsapo").font-link
							i.fa.fa-2x.fa-linkedin-square
			div.row.nav
				div(style="position:absolute;bottom:15px;width:100%;text-align:center;")
						a(href="#posts")
							i.fa.fa-2x.fa-arrow-circle-o-down

	div.row(style="text-align:center")
		div.col-md-12.nav
			a(href="#")
				i.fa.fa-2x.fa-arrow-circle-o-up(style="position:absolute;bottom:0;top:25px;")
	div.container(style="text-align:center;")
		div.inner-container
			h3 No Posts Today

	script
			include js/go.js
	script
			include js/application.js